@page
@model BH.Frontend.Web.Pages.CreateAccountModel
@{
}
@if (this.Model.IsSuccess)
{
    <label class="bg-success" >Account Created Succesfully.</label>
}
else
{
    <form method="post">
        <div class="row">
            <div class="col-2">
                Customer ID
            </div>
            <div class="col-2">
                <input type="text" asp-for="@Model.AccountRequest.CustomerId" value="@Model.Id" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Initial Credit
            </div>
            <div class="col-2">
                <input type="text" asp-for="@Model.AccountRequest.InitialCredit" min="0" max="1000000" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <input type="submit" value="Submit" />
            </div>
        </div>
    </form>
}